 <div data-th-fragment="changePassword" id="changePassword" class="modal" tabindex="-1" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                                <div class="login-box card">
                                    <div class="card-body">
<!--                                        <form th:action="@{/admin/utilisateur/changePassword}" method="POST" th:object="${changePasswordDto}"-->
<!--                                              class="form-horizontal form-material" id="loginform">-->
<!--                                            <h3 class="box-title m-b-20">Changer de mot de pass</h3>-->

<!--                                            <div class="form-group ">-->
<!--                                                <div class="col-xs-12">-->
<!--                                                    <input class="form-control" th:field="*{oldPassword}" type="password" required="" placeholder="Ancien mot de pass"><br/>-->
<!--                                                    <small th:if="${oldPassword}" th:text="${oldPassword}" class="text-danger" />-->
<!--                                                 </div>-->
<!--                                            </div>-->
<!--                                            <div class="form-group">-->
<!--                                                <div class="col-xs-12">-->
<!--                                                    <input class="form-control" th:field="*{userPassword}" type="password" required="" placeholder="Nouveau mot de pass"><br/>-->
<!--                                                    <small th:if="${userPassword}" th:text="${userPassword}" class="text-danger" />-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                            <div class="form-group">-->
<!--                                                <div class="col-xs-12">-->
<!--                                                    <input class="form-control" th:field="*{userConfirmPassword}" type="password" required="" placeholder="Confirmation"><br/>-->
<!--                                                    <small th:if="${userConfirmPassword}" th:text="${userConfirmPassword}" class="text-danger" />-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                            <button  type="submit" class="btn btn-rounded btn-outline-info fa-pull-right">Modifier le mot de pass</button>-->
<!--                                            <a data-bs-dismiss="modal" type="button" class="btn btn-rounded btn-outline-dark fa-pull-left">Fermer</a>-->
<!--                                        </form>-->
                                    </div>
                                </div>


                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->



